<div class="scrollable">
    <div class="scrollable-content">
    	<a type="button" href="#/test" class="btn font-size-4x" style="margin-left: 5%;">
            <div class="padding-top-10">START</div>
            <div class="well center-block" style="max-width: 800px;">
			  <button type="button" class="btn btn-primary btn-lg">TEST ANGULAR</button>			  
			</div>
        </a>
        <a type="button" href="#/css" class="btn font-size-4x" style="margin-left: 5%;">
            <div class="padding-top-10">START</div>
            <div class="well center-block" style="max-width: 800px;">
              <button type="button" class="btn btn-primary btn-lg">TEST CSS</button>              
            </div>
        </a>
    </div>
</div>
