<div class="scrollable">
    <div class="scrollable-content col-xs-12 text-uppercase">

        <h2 class="title">Refine your search</h2>

        <div class="col-xs-12 content" id="advanced-search">
            <ul class="block-controls list-group clearfix">
                <div class="row padding">
                    <li class="col-xs-6 form-group">
                        <a class="button arrow white btn-default form-control navbar-btn">
                            Beds
                            <i class="fa fa-caret-right fa-2x fa-rotate-45 pull-right"></i>
                        </a>
                    </li>
                    <li class="col-xs-6 form-group">
                        <a class="button arrow white btn-default form-control navbar-btn">
                            Baths
                            <i class="fa fa-caret-right fa-2x fa-rotate-45 pull-right"></i>
                        </a>
                    </li>
                </div>
                <div class="row padding">
                    <li class="col-xs-6 form-group">
                        <a class="button arrow white btn-default form-control navbar-btn">
                            Adults
                            <i class="fa fa-caret-right fa-2x fa-rotate-45 pull-right"></i>
                        </a>
                    </li>
                    <li class="col-xs-6 form-group">
                        <a class="button arrow white btn-default form-control navbar-btn">
                            Children
                            <i class="fa fa-caret-right fa-2x fa-rotate-45 pull-right"></i>
                        </a>
                    </li>
                </div>
            </ul>

            <h2 class="subtitle">Select Amenities</h2>

            <div class="amenities text-capitalize clearfix">
                <div class="row">
                    <label class="amenity col-xs-6 form-group">
                        <input type="checkbox">
                        <span class="check"></span>
                        <span class="txt">Air Conditioning</span>
                    </label>
                    <label class="amenity col-xs-6 form-group">
                        <input type="checkbox">
                        <span class="check"></span>
                        <span class="txt">Private Pool</span>
                    </label>
                </div>
                <div class="row">
                    <label class="amenity col-xs-6 form-group">
                        <input type="checkbox" checked="checked">
                        <span class="check"></span>
                        <span class="txt">Screened Porch</span>
                    </label>
                    <label class="amenity col-xs-6 form-group">
                        <input type="checkbox">
                        <span class="check"></span>
                        <span class="txt">Outside Shower</span>
                    </label>
                </div>
            </div>

            <button class="col-xs-12 button orange btn btn-default btn-lg">Update Results</button>
            <div class="col-xs-12 vertical-space-1x"></div>
        </div>
    </div>
</div>