.views-container {
	height: 100%;
}
.app-body {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	background-color: #fff;

	padding: 0 !important;
	&.no-footer {
		padding-bottom: 0;
	}
}

@import 'test-css';

//General desktop ammends
@media (min-width: 320px) {
	//Remove scrollable fixedness
	html, body {
		height: inherit;

		overflow: auto;
	}
	.app-body, .scrollable {
		position: relative;
	}
}