.gray-bg { background-color: gray; }

.modal-body {
	 min-height: 100px !important;
}

.login {
	background-color: #294284;
	color: white;			
}

.close {
	color: white !important;
	opacity: 1 !important;		
}
